
body {
  background: linear-gradient(135deg, #FF5CCC 10%, #512889 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  overflow: hidden;
  font-family: Lato, sans-serif;
  perspective: 1000px;
  gap: 3em;
  color: #fff;
}

.glass-card {
  width: 21.875em;
  max-width: 100%;
  backdrop-filter: blur(15px);
  border-radius: 0.938em;
  padding: 2.5em;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: #ffffff;
  text-align: center;
  transform-style: preserve-3d;
  will-change: transform;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

input {
  margin: 0.5em 0;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  line-height: 1;
  height: 2.75em;
  padding: 0.25em 0.75em;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  margin: 0 0 0.5em;
  
  &:focus,
  &:focus-visible {
    outline: 2px solid #090040;
    outline-offset: 0;
  }
}

button {
  margin: 1rem 0;
  font-size: 1em;
  padding: 0.5em 1.25em;
}

button[type="submit"] {
  width: 100%;
  background: #700B97;
  color: #fff;
  border: 2px solid #700B97;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 92, 204, 0.5);
  
  &:focus,
  &:focus-visible,
  &:hover {
    background: #3E065F;
    border-color: #3E065F;
  }
}

.form {
  position: relative;
}

.form-title {
  display: block;
  margin-bottom: 0.5em;
  font-size: 0.813rem;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75em;
}

.social-link {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.75em;
  border-radius: 0.5em;
  font-size: 0.875em;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  
  i {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    color: #fff;
    
    svg {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
    }
  }
  
  &:link,
  &:visited {
    color: #fff;
  }
  
  &:focus,
  &:focus-visible,
  &:hover {
    background: rgba(255, 255, 255, 0.15);  
  }
}

a {
  transition: all 0.2s ease-out;
  text-decoration: underline;
  
  &:link,
  &:visited {
    color: #fff;
  }
  
  &:focus,
  &:focus-visible,
  &:hover {
    text-decoration: none;
  }
}
